<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Gift Manager</h1>
        <ul>
            <li><a href="index.html">Přehled</a></li>
            <li><a href="names.html">Jména</a></li>
            <li><a href="gifts.html">Dárky</a></li>
        </ul>
        <table>
                <tr>
                    <th>Dárek</th>
                    <th>Odkaz</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <!--v tabulce dárky, odkazy na dárky-->
                </tr>
            </table>
    
            <a href="newGift.html"><button type="button">Přidat nový</button></a>  
</body>
</html>