<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Gift Manager</h1>
        <ul>
            <li><a href="index.html">Přehled</a></li>
            <li><a href="{%url "names"%}">Jména</a></li>
            <li><a href="gifts.html">Dárky</a></li>
        </ul>
        <!--tady bude přehled buď v tabulce nebo jako fotka (avatar) a pod ním jméno a dárky, které pro osobu máme-->
        {{ahoj.name}}
</body>
</html>