<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Gift Manager</h1>
        <ul>
            <li><a href="index.html">Přehled</a></li>
            <li><a href="names.html">Jména</a></li>
            <li><a href="gifts.html">Dárky</a></li>
        </ul>
        <form action="">
                <label for="name">Jméno</label> <input type="text" id="name">
                <input type="button" value="Přidat"> <!--button přidá nový kontakt do databáze, vytvoří novou stránku (personTemplate.html) s detailem osoby a vrátí zpět na names.html-->
                <!--můžeme přidat fotka, věk, pohlaví, vztah...-->
        </form>

</body>
</html>