<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Gift Manager</h1>
        <ul>
            <li><a href="index.html">Přehled</a></li>
            <li><a href="names.html">Jména</a></li>
            <li><a href="gifts.html">Dárky</a></li>
        </ul>

        <h2>Jméno osoby</h2>
        <table></table> <!--tabulka s detaily, které jsme vyplnili-->
        <img src="" alt=""> <!--fotka-->

        <h3>Dárky</h3>

        <a href="gifts.html"><button type="button">Přidat dárek</button></a>
</body>
</html>